---
import Layout from '@layouts/Layout.astro';
import Counter from '@components/Counter.vue';
import Table from '@components/Table.vue';
---

<Layout title="Welcome to Astro.">
	<Counter client:visible>
		<h1>Hello, Vue!</h1>
	</Counter>

	<Table></Table>
</Layout>
